[submodule "heera-calamares"]
	path = heera-calamares
	url = https://github.com/heera-os/heera-calamares
[submodule "heera-mirrorlist"]
	path = heera-mirrorlist
	url = https://github.com/heera-os/heera-mirrorlist
